mixin welcomeMenu(className)
    - 
        var items = {
            "Мои Работы": '/my-works.html',
            "Обо Мне": '/about.html',
            "Блог": '/blog.html'
        }

    nav(class=`${className}`)
        ul(class=`${className}__list`)
            each href, title in items
                li(class=`${className}__item`)
                    a(class=`${className}__link` href=`${href}`)= title


mixin social(className, items)

    div(class=`${className}`)
        ul(class=`${className}__list`)
            each item in items
                li(class=`${className}__item`)
                    svg(width="100" height="100" class=`${className}__svg ${className}__svg-${item}`)
                        use(xlink:href=`assets/images/sprite.svg#${item}`)


