mixin welcomeMenu(className)
    - 
        var items = {
            "Мои Работы": './my-works.html',
            "Обо Мне": './about.html',
            "Блог": './blog.html'
        }

    nav(class=`${className}`)
        ul(class=`${className}__list`)
            each href, title in items
                li(class=`${className}__item`)
                    a(class=`${className}__link` href=`${href}`)= title


mixin footerMenu(className)
    - 
        var items = {
            "Мои Работы": './my-works.html',
            "Обо Мне": './about.html',
            "Блог": './blog.html',
            "Авторизация": './index.html'
        }

    nav(class=`${className}`)
        ul(class=`${className}__list`)
            each href, title in items
                li(class=`${className}__item`)
                    a(class=`${className}__link` href=`${href}`)= title


mixin social(className)
    - 
        var items = {
            "https://new.vk.com/id18787062": 'vk',
            "https://github.com/BeMoreHuman": 'github',
            "https://www.linkedin.com/in/alexandr-klymenko-069561128/": 'in'
        }

    div(class=`${className}`)
        ul(class=`${className}__list`)
            each title, href in items
                li(class=`${className}__item`)
                    a(class=`${className}__link` href=`${href}`)
                        svg(width="100" height="100" class=`${className}__svg ${className}__svg-${title}`)
                            use(xlink:href=`./assets/images/sprite.svg#${title}`)


mixin socialBottom(className)
    - 
        var items = {
            "https://new.vk.com/id18787062": 'vk_round',
            "https://github.com/BeMoreHuman": 'github_round',
            "https://www.linkedin.com/in/alexandr-klymenko-069561128/": 'in_round'
        }

    div(class=`${className}`)
        ul(class=`${className}__list`)
            each title, href in items
                li(class=`${className}__item`)
                    a(class=`${className}__link` href=`${href}`)
                        svg(width="35" height="35" class=`${className}__svg ${className}__svg-${title}`)
                            use(xlink:href=`./assets/images/sprite.svg#${title}`)


mixin skills(options)
    ul.skills-list
        each item, index in options
            li.skills-list__item.skills-row
                h3.skills-row__title #{index}
                ul.skills-row__list
                    each skill, skillName in item
                        li.skills-row__item.skill
                            svg.skill__circle.circle(viewBox='0 0 110 110' width=120 height=120)
                                circle(r="45" cx="50%" cy="50%" fill="none" class="circle__first")
                                circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class=`circle__second circle-${skill}`)
                            h4.skill__title #{skillName}

- 
    var objSkill = {
        "Frontend": { "html": "90", "css": "90", "javascript": "50" },
        "Backend": { "php": "10", "mongo.db": "90", "node.js": "50", "mySql": "50" },
        "Workflow": { "git": "90", "gulp": "90", "webpack": "50" }
    }


